@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: grey;
  font-family: monospace;
  font-size: 18px;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

.title {
  font-weight: 800;
  font-size: 46px;
  text-align: center;
}

button.start,
button.reset {
  margin-top: 10px;
}

.status {
  text-align: center;
  height: 24px;
}

.menu {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.game-result {
  text-align: center;
  font-size: 20px;
  width: max-content;
  background-color: black;
  color: yellow;
  padding: 4px 8px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 180px;
  transform: translate(-50%, -50%);
}

.game-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 200px;
}

.player-side,
.enemy-side {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.player-heading,
.enemy-heading,
.player-ship-count,
.enemy-ship-count {
  font-size: 20px;
}

.player-ship-count,
.enemy-ship-count {
  height: 30px;
}

.player-board,
.enemy-board {
  display: grid;
  background-color: black;
  grid-template-columns: repeat(10, 1fr);
  gap: 1px;
  border: 1px solid black;
}

.square,
.enemy-square,
.hit-square,
.miss-square {
  width: 40px;
  height: 40px;
  font-size: 24px;
  display: grid;
  place-items: center;
  font-weight: 800;
  font-family: Nunito;
}

.square,
.enemy-square {
  background-color: #ddd;
}

.enemy-square {
  cursor: pointer;
}

.enemy-square:hover {
  background-color: #aaa;
}

.hit-square {
  background-color: maroon;
  color: yellow;
}

.miss-square {
  background-color: #aaa;
}

.disable {
  pointer-events: none;
}

.randomize {
  margin-top: 20px;
}